/* 
*{
padding: 0;
margin: 0;
font-family: sans-serif;
}
body{
    background-color: black;
}
.main{
   background-image: url("assests/Images/bg.jpg");
   background-position: center center;
   background-size: max(1200px,100vw);
   background-repeat:no-repeat;
    height: 725px;
    position: relative;
}
.main .box{
    height: 725px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
    height: 62px;
}
nav img{
    width: 130px;
   color: red;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
   height: calc(100% - 62px);
    gap: 23px;
    padding:0 30px;
   
}
.hero> :first-child{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.hero> :nth-child(2){
    font-size:  24px; 
    font-weight: 400;
    text-align: center;

}
.hero :nth-child(3){
    font-size:  20px; 
    font-weight: 400;
    text-align: center;
}
.seperation{
  height: 7px;
    background-color: rgb(59, 59, 59);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    color: white;
    font-weight: 450;
    background-color: rgba(248,243,243,0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}
.btn-red{
    background-color: red;
    color: white;
    padding: 16px 50px;
    font-size: 20px;
    border-radius: 7px;
    font-weight: 700;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
    
}
.main input{
    padding: 16px 75px ;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgba(23, 23, 23, 0.1);
    border: 2px solid  rgb(255, 255, 255);
    text-align: left;
    font-weight: 600;
    color: white;
}
.first{
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
}
.first>div{
    display: flex;
    flex-direction: column;
}
.first> div :first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first> div :nth-child(2){
    font-size: 24px;
    width: 500px;
    
}
.secImg3 img{
    width: 37vw;
    position: relative;
    z-index: 10;
}
.secImg3 video{
    position: absolute;
    top: 51px;
    right: 0;
}
.third{
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
}
.third img{
    position: relative;
}
.third video{
    width: 23vw;
    position: absolute;
    top: 21px;
    left: 100px; ;
}
.third ::first-line{
    font-size: 48px;
    font-weight: bolder;
}
.third :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.faq{
    background-color: black;
    color: white;
    
.faqbox svg{
    color: white;
}
}
.faq :hover{
    background-color: gray;
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    padding: 24px;
    background-color: rgb(60, 60, 60);
    margin:34px auto;
    max-width: 70vw;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   color: white;
   max-width: 60vw;
 padding: 100px;
   margin: auto;
   
   
}
.footer span{
    color: white;
   
}

.footer-item{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 140px;
    justify-content: space-between;
    max-width: 50vw;
    align-items: center;
    
}
footer a{
    text-decoration: none;
    text-align: center;
    color: white;
} */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

/* .main {
    background-image: url("assests/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
} */
.main{
    background-image: url("assests/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat:no-repeat;
     height: 800px;
     position: relative;
 }
 .main .box{
     height: 800px;
     width: 100%;
     opacity: 0.6;
     background-color: black;
     position: absolute;
     top: 0;
 }

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
